<!--The content below is only a placeholder and can be replaced.-->
<link id="theme" rel="stylesheet" href="/static/css/external/bootstrap4.1.1.min.css">

<div style="text-align:center;">
  <h1>Welcome to {{title}}!</h1>
  <nav>
    <a [routerLink]="['home']">
      home
    </a>
    <a [routerLink]="['angular']">
      angular
    </a>
  </nav>
  <router-outlet></router-outlet>
  <h1>MESS</h1>
  <app-message [message]="message"></app-message>
  <h1>MESS</h1>
  <div class="post-request-test">
    <h3>Test Post Request</h3>
    <button (click)="postData()">ClickMe :(</button>
    <h5>Response: {{postRequestResponse}}</h5>
  </div>
</div>
<div>
  <h1>ASD</h1>
  <h5>{{resp}}</h5>
  <h1>ASD</h1>
</div>
